@import "tailwindcss";

.contenedor-principal{
    display:flex;
    gap: 20px;
    padding:20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contenido-productos{
    flex-direction: column;
    flex: 3;
    gap: 20px;
}

.barra-lateral-carrito{
    display:flex;
    gap: 1px;
}

